body{
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#puzzle {
	margin: 0;
	padding: 10px;
	border: 3px solid black;
    border-spacing: 0px !important;
}

.square{
	width:30px;
	height:30px;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
    position: relative;
}

.empty{
    background-color:white;
}

.letter{
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}

#puzzle_container{
}

#hints_container{
	float: left;
	width:500px;
	height: 50%;
    margin-left: 25px;
}

#buttons_container{
    clear: both;
    padding-top: 20px;
    margin-left: 50px;
}

.active{
    border-color: red;
}

.question_number{
    position: absolute;
    font-size: 12px;
    color: grey;
    left: 3px;
    top: 3px;
}

td{
    position:relative;
}

#solve{
    background-color: rgb(23, 160, 23);
}
#clue{
    background-color: rgb(201, 212, 43);
}
#clear_all{
    background-color: rgb(211, 45, 45);
}

button{
  border: 0;
  outline: border;
  padding: 10px;
  font-size: 20px;
  font-family: monospace;
  box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
  transition: all .3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%);
  margin: 20px;
}

button:hover{

    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);
}

button:active{
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
}